# Pandas

In [4]:
import pandas as pd 
import numpy as np


a1 = [1, 7, 2]

s1 = pd.Series(a1)  # dataframe: series is column or row of dataframe

print(s1)

0    1
1    7
2    2
dtype: int64

In [6]:
print(s1[1])

7

In [7]:
a2 = [1, 7, 2]

s2 = pd.Series(a2, index=["a", "b", "c"])

print(s2)

a    1
b    7
c    2
dtype: int64

In [8]:
calories = {"day1": 420, "day2": 380, "day3": 390}

s3 = pd.Series(calories)

print(s3)

day1    420
day2    380
day3    390
dtype: int64

In [14]:
# DataFrame


data1 = {"calories": [420, 380, 390, 400, 500],
          "duration": [10, 30, 50, 60, 70]}

df = pd.DataFrame(data1)

print(df)

   calories  duration
0       420        10
1       380        30
2       390        50
3       400        60
4       500        70

In [12]:
print(df.loc[1])

calories    380
duration     30
Name: 1, dtype: int64

In [13]:
print(df.loc[[0,2]])

   calories  duration
0       420        10
2       390        50

In [ ]:
print(df.loc[[1,3]])

print(df.loc[1:3])

   calories  duration
1       380        30
3       400        60
   calories  duration
1       380        30
2       390        50
3       400        60

In [16]:
data2 = {
    "Name": ["Ahmed", "Mohamed", "Hossam", "Heba", "Mostafa"],
    "Age": [25, 30, 35, 40, 28],
    "City": ["Cairo", "Alex", "Giza", "Luxor", "Aswan"]
}

df2 = pd.DataFrame(data2, index=["a", "b", "c", "d", "e"])

print(df2)

      Name  Age   City
a    Ahmed   25  Cairo
b  Mohamed   30   Alex
c   Hossam   35   Giza
d     Heba   40  Luxor
e  Mostafa   28  Aswan

In [ ]:
print(df2.loc["a"])

print(df2.loc['a':'d'])

print(df2.loc['c','Age']) # select row and column

print(df2.loc[['b', 'd'], ["Name", "City"]])
print(df2.loc['b': 'd', ["Name", "City"]]) # iloc works only for integer index

Name    Ahmed
Age        25
City    Cairo
Name: a, dtype: object
      Name  Age   City
a    Ahmed   25  Cairo
b  Mohamed   30   Alex
c   Hossam   35   Giza
d     Heba   40  Luxor
35
      Name   City
b  Mohamed   Alex
d     Heba  Luxor
      Name   City
b  Mohamed   Alex
c   Hossam   Giza
d     Heba  Luxor

In [37]:
print(df2.loc[df2["Age"] >= 30])

      Name  Age   City
b  Mohamed   30   Alex
c   Hossam   35   Giza
d     Heba   40  Luxor

In [ ]:
# xml is a markup language to save the data

data3 = pd.read_csv("data/data.csv")
data4 = pd.read_json("data/data.json")

print(data3.head(10)) # by default head return first 5 rows

print(data3.tail()) # by default tail return last 5 rows

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0
     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [49]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [ ]:
data3.describe()  # bigger the range bigger the std

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [57]:
data3["Calory_level"] = data3["Calories"].apply(
    lambda x: "High" if x > 400 else "Normal"
)

print(data3[["Calories", "Calory_level"]])

     Calories Calory_level
0       409.1         High
1       479.0         High
2       340.0       Normal
3       282.4       Normal
4       406.0         High
..        ...          ...
164     290.8       Normal
165     300.0       Normal
166     310.2       Normal
167     320.4       Normal
168     330.4       Normal

[169 rows x 2 columns]

In [ ]:
data5 = data3.dropna() # remove the null 

data3.dropna(inplace = True) # remove the null in the same place

In [ ]:
mean = data4["Calories"].mean()
print(mean)

data4.fillna({"Calories": mean}, inplace = True) # fill the null with mean 

print(data4.info())

375.79999999999995
<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.6 KB
None