 ## ðŸ“˜Python Assignment â€“ File Operations & Functions
-   Machine Learning Diploma â€“ Python Module
-   Instructor: Eng. George Samuel
-   Week: File Handling & Automation Practice
-  Assignment Type: Coding + Logical Thinking

You Name : Mohamed Shaarawy

1. Add an item to a tuple

In [9]:
my_tuple = (1, 2, 3)
item_to_add = 4

# TODO: convert tuple to list, add the item, then convert back to tuple
new_tuple = list(my_tuple)
new_tuple.append(item_to_add)
new_tuple = tuple(new_tuple)

print(new_tuple)

(1, 2, 3, 4)

{Hint}: Tuples cannot change. Convert to list â†’ modify â†’ tuple.

2. Sum all the items in a list

In [4]:
numbers = [5, 10, 15, 20]

# TODO: loop through the list and calculate the total
total = 0
for i in numbers:
    total += i

print(total)

# Hint: Use a for loop and accumulate values into total.

50

3. Multiply all items in a list

In [8]:
numbers = [2, 3, 4]

# TODO: multiply all numbers in the list
result = 1
for i in numbers:
    result *= i

print(result)
# Hint: Start from 1 and multiply one element at a time.

24

4. Get the smallest number from a list

In [10]:
numbers = [10, 3, 25, 1, 7]

# TODO: find smallest value manually (without min())
smallest = numbers[0]
for i in numbers:
    if i < smallest:
        smallest = i

print(smallest)
# Hint: Replace smallest when you find a smaller value.

1

5. Get the largest number from a list

In [11]:
numbers = [10, 3, 25, 1, 7]

# TODO: find largest value manually (without max())
largest = numbers[0]
for i in numbers:
    if i > largest:
        largest = i

print(largest)
# Hint: Same idea as smallest â€” just check for bigger values.

25

6. Count number of strings with length â‰¥ 2

In [12]:
words = ["hi", "a", "hello", "no", "on"]

# TODO: count strings with length >= 2
count = 0
for i in words:
    if len(i) >= 2:
        count += 1

print(count)
# Hint: Use len(word) and a condition.

4

7. Clone or copy a list

In [14]:
original = [1, 2, 3, 4]
# TODO: copy the list (not assignment)
cloned = []
for i in original:
    cloned.append(i)


print(cloned)
# Hint: Remember: cloned = original is NOT a copy.
# Think of slicing or list().

[1, 2, 3, 4]

8. Remove item(s) from a set

In [15]:
my_set = {1, 2, 3, 4, 5}

# TODO: remove an item using remove() or discard()
my_set.remove(3)

print(my_set)
# Hint: Use remove() or discard().

{1, 2, 4, 5}

9. Check if a set is subset of another

In [ ]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

# TODO: check subset manually or using issubset()
if set1.issubset(set2): # method 1
    is_subset = True

for i in set1:          # method 2
    if i not in set2:
        is_subset = False
        break
else:
    is_subset = True

print(is_subset)

# Hint: Use .issubset() or compare elements manually.

True

10. Remove all elements from a set

In [18]:
my_set = {1, 2, 3}

# TODO: clear the set
my_set.clear()

print(my_set)

# Hint: Sets have a method that makes them empty.

set()

11. Find max and min values in a set

In [19]:
my_set = {10, 3, 25, 1, 7}

# TODO: find max and min manually
maximum = my_set.pop()
minimum = maximum
for i in my_set:
    if i > maximum:
        maximum = i
    if i < minimum:
        minimum = i

print("Max:", maximum)
print("Min:", minimum)
# Hint: Convert to a list or loop through items.

Max: 25
Min: 1

12. Find the index of an item in a tuple

In [20]:
my_tuple = (10, 20, 30, 40)

# TODO: find index of a value (e.g. 30)
index_value = my_tuple.index(30)

print(index_value)
# Hint: Tuples have a method for this.

2

13. Convert a tuple to a dictionary

In [21]:
my_tuple = (("a", 1), ("b", 2), ("c", 3))

# TODO: convert to dictionary
my_dict = dict(my_tuple)

print(my_dict)
# Hint: A dictionary can be built directly from pairs.

{'a': 1, 'b': 2, 'c': 3}

14. Unzip a list of tuples into individual lists

In [25]:
pairs = [(1, 2), (3, 4), (5, 6)]

# TODO: extract first elements into one list and second elements into another
list1 = []
list2 = []
for a, b in pairs:
    list1.append(a)
    list2.append(b)
print(list1)
print(list2)
# Hint: You can loop OR use zip(*pairs).

[1, 3, 5]
[2, 4, 6]

15. Reverse a tuple

In [42]:
my_tuple = (1, 2, 3, 4, 5)

# TODO: reverse the tuple
reversed_tuple = my_tuple[::-1]

print(reversed_tuple)
# Hint: Use slicing.

(5, 4, 3, 2, 1)

16. Convert a list of tuples into a dictionary

In [43]:
pairs = [("a", 1), ("b", 2), ("c", 3)]

# TODO: convert list of tuples into dictionary
my_dict = dict(pairs)

print(my_dict)
# Hint: dict() can convert list-of-pairs formats.

{'a': 1, 'b': 2, 'c': 3}

17. Replace the last value of each tuple in a list

- Sample list:
- [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- Expected output:
- [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [44]:
data = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# TODO: replace last value with 100
new_list = []
new_list = list(data)
for i in range(len(new_list)):
    temp = list(new_list[i])
    temp[-1] = 100
    new_list[i] = tuple(temp)

print(new_list)
# Hint: Convert each tuple to list, edit, convert back.

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

18. Sort a tuple by its float element

In [47]:
items = (("item1", 10.5), ("item2", 5.7), ("item3", 8.9))

# TODO: sort by the float value
sorted_items = sorted(items, key=lambda x: x[1])

print(sorted_items)
# Hint: Use sorted() with a key function.

[('item2', 5.7), ('item3', 8.9), ('item1', 10.5)]

## challenge part

Find the longest word in a list

In [48]:
words = ["hi", "hello", "fantastic", "world"]

# TODO: find the longest word

longest = ""
for word in words:
    if len(word) > len(longest):
        longest = word

print(longest)
# Hint: Track the word with the largest len().

fantastic

Merge two dictionaries

In [57]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

# TODO: merge into one dictionary
result = d1 | d2 # method1

result2 = {**d1, **d2} # method2

result3 = d1.copy()
result3.update(d2) # method3


print(result)
print(result2)
print(result3)
# Hint: Use unpacking or update().

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Sum values in a dictionary

In [58]:
data = {"a": 10, "b": 20, "c": 30}

# TODO: sum all dictionary values
total = 0

for i in data:
    total += data[i]


print(total)

60

solution

In [59]:
data = {"a": 10, "b": 20, "c": 30}
#for dictionary i have a key and value so you can loop and find what you need (key or values
total = 0
for value in data.values():
    total += value

print(total)

60

New Challenge

# TODO: sum all scores
scores = {
    "student1": {"math": 80, "science": 90},
    "student2": {"math": 75, "science": 85},
    "student3": {"math": 92, "science": 88},
}

total = ___      # TODO: start total at 0

for student_data in scores.___():# TODO: loop over values of the dictionary
    for score in student_data.___(): # TODO: loop over inner dictionary values
        total ___ score              # TODO: update the total

print(___)       # TODO: print the result

#hint you will need nested for loop one

In [61]:
scores = {"student1":{"math": 80, "science": 90}, "student2":{"math":75, "science": 85}, "student3":{"math": 92, "science": 88}}

total = 0

for i in scores.values():
    for j in i:
        total += i[j]

print(total)

510