# Pandas

## Install Pandas

In [1]:
#!pip install pandas

## Import Pandas

In [2]:
import pandas as pd

## Pandas Series

What is a Series?

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [3]:
a1 = [1, 7, 2]

s1 = pd.Series(a1)

print(s1)

0    1
1    7
2    2
dtype: int64

##### Labels:

If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [4]:
print(s1[1])

7

## Create Labels:

With the index argument, you can name your own labels.

In [5]:
a2 = [1, 7, 2]

s2 = pd.Series(a2, index = ["a", "b", "c"])

print(s2)

a    1
b    7
c    2
dtype: int64

When you have created labels, you can access an item by referring to the label.

In [6]:
print(s2["b"])

7

**Key/Value Objects as Series:**

You can also use a key/value object, like a dictionary, when creating a Series.

In [7]:
calories = {"day1": 420, "day2": 380, "day3": 390}

s3 = pd.Series(calories)

print(s3)

day1    420
day2    380
day3    390
dtype: int64

Note: The keys of the dictionary become the labels.

To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.

In [8]:
a2 = [420, 380, 390]

s2 = pd.Series(a2, index = ["day1", "day2", "day3"])

print(s2)

day1    420
day2    380
day3    390
dtype: int64

In [9]:
calories = {"day1": 420, "day2": 380, "day3": 390}

s4 = pd.Series(calories, index = ["day1", "day3"])

print(s4)

day1    420
day3    390
dtype: int64

## DataFrames

What is a DataFrame?

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [10]:
data1 = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

# Load data into a DataFrame object:
df1 = pd.DataFrame(data1)

print(df1)

   calories  duration
0       420        50
1       380        40
2       390        45

**Locate Row:**

As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [11]:
# Refer to the row index:

print(df1.loc[2])

calories    390
duration     45
Name: 2, dtype: int64

Note: This example returns a Pandas Series.

In [12]:
# Use a list of indexes:

print(df1.loc[[0, 2]])

   calories  duration
0       420        50
2       390        45

Note: When using [], the result is a Pandas DataFrame.

**Named Indexes:**

With the index argument, you can name your own indexes.

In [13]:
# Add a list of names to give each row a name:

data2 = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df2 = pd.DataFrame(data2, index = ["day1", "day2", "day3"])

print(df2)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

**Locate Named Indexes:**

Use the named index in the loc attribute to return the specified row(s).

In [14]:
# Refer to the named index:

print(df2.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

**Filtering DataFrames:**

In [15]:
# Create a sample DataFrame with custom index
data = {
    "Name": ["Ahmed", "Mohamed", "Hossam", "Heba", "Mostafa"],
    "Age": [25, 30, 35, 40, 28],
    "City": ["Cairo", "Alex", "Giza", "Luxor", "Aswan"]
}

df3 = pd.DataFrame(data, index=["a", "b", "c", "d", "e"])

print(df3)

      Name  Age   City
a    Ahmed   25  Cairo
b  Mohamed   30   Alex
c   Hossam   35   Giza
d     Heba   40  Luxor
e  Mostafa   28  Aswan

- **.loc[] â€“ Label-based indexing:**

In [16]:
# 1. Select single row by label:

print(df3.loc["b"])  # Row with index label "b"

Name    Mohamed
Age          30
City       Alex
Name: b, dtype: object

In [17]:
# 2. Select multiple rows by label list:

print(df3.loc[["a", "e"]])

      Name  Age   City
a    Ahmed   25  Cairo
e  Mostafa   28  Aswan

In [18]:
print(df3.loc["b"]) 
print(df3.loc[["a","b","d"]]) 
print(df3.loc["b":"d"])

Name    Mohamed
Age          30
City       Alex
Name: b, dtype: object
      Name  Age   City
a    Ahmed   25  Cairo
b  Mohamed   30   Alex
d     Heba   40  Luxor
      Name  Age   City
b  Mohamed   30   Alex
c   Hossam   35   Giza
d     Heba   40  Luxor

In [19]:
# 3. Select a range of rows (inclusive):

print(df3.loc["b":"d"])  # Includes "d"

      Name  Age   City
b  Mohamed   30   Alex
c   Hossam   35   Giza
d     Heba   40  Luxor

In [20]:
# 4. Select rows and columns by label:

print(df3.loc["c", "Age"])  # Cell at row "c", column "Name"

35

In [21]:
# 5. Select multiple rows and columns:

print(df3.loc[["a", "d"], ["Name", "City"]])

    Name   City
a  Ahmed  Cairo
d   Heba  Luxor

In [22]:
# 6. Conditional selection using .loc:

print(df3.loc[df3["Age"] > 30])  # All rows where Age > 30

     Name  Age   City
c  Hossam   35   Giza
d    Heba   40  Luxor

In [23]:
print(df3.loc[df3["Age"] == 30])  # Age equal to 30

      Name  Age  City
b  Mohamed   30  Alex

In [24]:
print(df3.loc[df3["Age"] != 30])  # Age not equal to 30

      Name  Age   City
a    Ahmed   25  Cairo
c   Hossam   35   Giza
d     Heba   40  Luxor
e  Mostafa   28  Aswan

In [25]:
print(df3.loc[(df3["Age"] > 25) & (df3["City"] == "Giza")])

     Name  Age  City
c  Hossam   35  Giza

In [26]:
print(df3.loc[(df3["Age"] < 30) | (df3["City"] == "Luxor")])

      Name  Age   City
a    Ahmed   25  Cairo
d     Heba   40  Luxor
e  Mostafa   28  Aswan

In [27]:
print(df3.loc[(df3["Age"] >= 28) & (df3["Age"] <= 35)])

      Name  Age   City
b  Mohamed   30   Alex
c   Hossam   35   Giza
e  Mostafa   28  Aswan

In [28]:
# Check if value exists in a list (using isin):

print(df3.loc[df3["City"].isin(["Cairo", "Giza"])])

     Name  Age   City
a   Ahmed   25  Cairo
c  Hossam   35   Giza

- **.iloc[] â€“ Integer position-based indexing:**

In [29]:
# 1. Select single row by position:

print(df3.iloc[1])  # Second row (Bob)

Name    Mohamed
Age          30
City       Alex
Name: b, dtype: object

In [30]:
# 2. Select a specific cell (row 2, column 1):

print(df3.iloc[2, 1])

35

In [31]:
# 3. Select a range of rows (like slicing):

print(df3.iloc[1:4])  # Rows 1 to 3 (Bob to David)

      Name  Age   City
b  Mohamed   30   Alex
c   Hossam   35   Giza
d     Heba   40  Luxor

In [32]:
# 4. Select rows and specific columns:

print(df3.iloc[[0, 3], [0, 2]])  # Rows 0 and 3, Columns 0 and 2

    Name   City
a  Ahmed  Cairo
d   Heba  Luxor

In [33]:
# 5. Select entire row or column:

print(df3.iloc[:, 1])  
print(df3.iloc[2, :])

a    25
b    30
c    35
d    40
e    28
Name: Age, dtype: int64
Name    Hossam
Age         35
City      Giza
Name: c, dtype: object

In [34]:
# 6. Negative indexing:

print(df3.iloc[-1])  # Last row (Mostafa)

Name    Mostafa
Age          28
City      Aswan
Name: e, dtype: object

**Load Files Into a DataFrame:**

If your data sets are stored in a file, Pandas can load them into a DataFrame.

**Read CSV Files:**

A simple way to store big data sets is to use CSV files (comma separated files).

CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In our examples we will be using a CSV file called 'data.csv'.

In [35]:
data3 = pd.read_csv('data/data.csv')

print(data3)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows:

**max_rows:**

The number of rows returned is defined in Pandas option settings.

You can check your system's maximum rows with the pd.options.display.max_rows statement.

In [36]:
print(pd.options.display.max_rows)

60

In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.

You can change the maximum rows number with the same statement.

In [37]:
# Change the maximum number of rows:

pd.options.display.max_rows = 60

In [38]:
print(data3)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

**Merge DataFrame:**

In [39]:
# Create first DataFrame: contains employee IDs and names
df_employees = pd.DataFrame({
    'EmployeeID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Charlie']
})

# Create second DataFrame: contains employee IDs and departments
df_departments = pd.DataFrame({
    'EmployeeID': [101, 102, 104],
    'Department': ['HR', 'Finance', 'IT']
})

In [40]:
# Merge the two DataFrames on the 'EmployeeID' column (inner join by default)
merged_df = pd.merge(df_employees, df_departments, on='EmployeeID')

# Display the result
print(merged_df)

   EmployeeID   Name Department
0         101  Alice         HR
1         102    Bob    Finance

In [41]:
# Left join (all from left, matching from right)
pd.merge(df_employees, df_departments, on='EmployeeID', how='left')

   EmployeeID     Name Department
0         101    Alice         HR
1         102      Bob    Finance
2         103  Charlie        NaN

In [42]:
# Right join (all from right, matching from left)
pd.merge(df_employees, df_departments, on='EmployeeID', how='right')

   EmployeeID   Name Department
0         101  Alice         HR
1         102    Bob    Finance
2         104    NaN         IT

In [43]:
# Outer join (all rows from both)
pd.merge(df_employees, df_departments, on='EmployeeID', how='outer')

   EmployeeID     Name Department
0         101    Alice         HR
1         102      Bob    Finance
2         103  Charlie        NaN
3         104      NaN         IT

**Read JSON:**

Big data sets are often stored, or extracted as JSON.

JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

In our examples we will be using a JSON file called 'data.json'.

In [44]:
data4 = pd.read_json('data/data.json')

In [45]:
print(data4)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

**Dictionary as JSON**

JSON = Python Dictionary

JSON objects have the same format as Python dictionaries.

If your JSON code is not in a file, but in a Python Dictionary, you can load it into a DataFrame directly:

In [46]:
# Load a Python Dictionary into a DataFrame:

dict1 = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

data5 = pd.DataFrame(dict1)

print(data5)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

## Data Exploration:

**Viewing the Data:**

One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [47]:
data6 = pd.read_csv('data/data.csv')

In [48]:
# Get a quick overview by printing the first rows of the DataFrame:
print(data6.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

### ðŸ§¾ Dataset Column Descriptions

| Column       | Description                                                                   |
|--------------|-------------------------------------------------------------------------------|
| **Duration** | The length of the workout or exercise session (in minutes)                    |
| **Pulse**    | The person's **average heart rate** during the session (in beats per minute)  |
| **Maxpulse** | The person's **maximum heart rate** reached during that session               |
| **Calories** | The total number of **calories burned** during that session                   |

In [49]:
# Get a quick overview by printing the first 10 rows of the DataFrame:
print(data6.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

There is also a tail() method for viewing the last rows of the DataFrame.

The tail() method returns the headers and a specified number of rows, starting from the bottom.

In [50]:
print(data6.tail(2))

     Duration  Pulse  Maxpulse  Calories
167        75    120       150     320.4
168        75    125       150     330.4

**Info About the Data:**

The DataFrames object has a method called info(), that gives you more information about the data set.

In [51]:
# Print information about the data:
print(data6.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [52]:
# Print summary statistics for each numeric column in the data:
print(data6.describe())

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

### ðŸ“Š `describe()` Output - Row Explanation

| Row   | Meaning |
|-------|---------|
| `count` | Number of non-null (non-empty) entries in the column. |
| `mean`  | The average value of the column. |
| `std`   | Standard deviation (how spread out the values are). |
| `min`   | Minimum value in the column. |
| `25%`   | First quartile (25% of the data is below this value). |
| `50%`   | Median (middle value, 50% is below and 50% above). |
| `75%`   | Third quartile (75% of the data is below this value). |
| `max`   | Maximum value in the column. |

In [53]:
# Label sessions that burned more than 400 calories
# If 'Calories' > 400, label as 'High', otherwise 'Normal'
data6['CalorieLevel'] = data6['Calories'].apply(
    lambda x: 'High' if x > 400 else 'Normal'
)

# Display the first few rows of the updated DataFrame
print(data6.head())

   Duration  Pulse  Maxpulse  Calories CalorieLevel
0        60    110       130     409.1         High
1        60    117       145     479.0         High
2        60    103       135     340.0       Normal
3        45    109       175     282.4       Normal
4        45    117       148     406.0         High

### ðŸ” Understanding `lambda x: 'High' if x > 400 else 'Normal'` in pandas

This expression is a **lambda function** used to classify values based on a condition. It is commonly used with `apply()` in pandas to create new columns.

#### âœ… What is a lambda function?

A `lambda` function is a quick, anonymous way to define a small function without giving it a name.

The general syntax is:

```python
lambda parameter: expression
```

It behaves like:

```python
def function(parameter):
    return expression
```

#### ðŸ”Ž Full Expression Breakdown:

```python
lambda x: 'High' if x > 400 else 'Normal'
```

| Part         | Explanation |
|--------------|-------------|
| `lambda x`   | Defines a function that takes a single input `x` (each value from the column) |
| `x > 400`    | Checks if the value is greater than 400 |
| `'High'`     | Returned if the condition is **True** |
| `'Normal'`   | Returned if the condition is **False** |

#### âœ… Example Use in pandas:

```python
data6['CalorieLevel'] = data6['Calories'].apply(lambda x: 'High' if x > 400 else 'Normal')
```

- `data6['Calories']`: A column of numeric values representing calories burned.
- `.apply(...)`: Applies the lambda function to **each individual value** in that column.
- Result: Creates a new column `'CalorieLevel'` with labels `'High'` or `'Normal'`.

#### ðŸ§ª Example:

| Calories | CalorieLevel |
|----------|---------------|
| 340.0    | Normal        |
| 409.1    | High          |
| 1500.0   | High          |

#### âœ… Why use it?

- Simple and readable for short, one-line conditions.
- Very useful for **data transformation**, **labeling**, and **conditional logic** in pandas.

In [54]:
# Calculate pulse intensity (average pulse divided by duration)
# This gives an idea of heart rate effort per minute
data6['PulsePerMinute'] = data6.apply(
    lambda row: row['Pulse'] / row['Duration'], axis=1
)

# Display the first few rows of the updated DataFrame
print(data6.head())

   Duration  Pulse  Maxpulse  Calories CalorieLevel  PulsePerMinute
0        60    110       130     409.1         High        1.833333
1        60    117       145     479.0         High        1.950000
2        60    103       135     340.0       Normal        1.716667
3        45    109       175     282.4       Normal        2.422222
4        45    117       148     406.0         High        2.600000

In [64]:
# Format the Calories column as a string with 'kcal' appended
# This is useful for display purposes (e.g., UI, reports, exports)
data6['CaloriesLabel'] = data6['Calories'].map(
    lambda x: f"{x:.3f} kcal"  # Format the number with 1 decimal place and add ' kcal'
    # For example, if x = 409.1 â†’ "409.100 kcal"
)

# Show the first few rows of the DataFrame to verify the new column
print(data6.head())

   Duration  Pulse  Maxpulse  Calories CalorieLevel  PulsePerMinute  \
0        60    110       130     409.1         High        1.833333
1        60    117       145     479.0         High        1.950000
2        60    103       135     340.0       Normal        1.716667
3        45    109       175     282.4       Normal        2.422222
4        45    117       148     406.0         High        2.600000

  CaloriesLabel
0  409.100 kcal
1  479.000 kcal
2  340.000 kcal
3  282.400 kcal
4  406.000 kcal

## Data Cleaning:

**Empty Cells:**

Empty cells can potentially give you a wrong result when you analyze data.

- **Remove Rows:**

One way to deal with empty cells is to remove rows that contain empty cells.

This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.

In [65]:
# Return a new Data Frame with no empty cells:

data7 = pd.read_csv('data/data.csv')

data8 = data7.dropna()

print(data8)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

Note: By default, the dropna() method returns a new DataFrame, and will not change the original.

If you want to change the original DataFrame, use the inplace = True argument:

In [66]:
# Remove all rows with NULL values:

data9 = pd.read_csv('data/data.csv')

data9.dropna(inplace = True)

print(data9)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

Note: Now, the dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame.

- **Replace Empty Values:**

Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value:

In [67]:
# Replace NULL values with the number 130:

data10 = pd.read_csv('data/data.csv')

data10.fillna(130, inplace=True)

print(data10)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

- **Replace Only For Specified Columns:**

The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:

In [68]:
# Replace NULL values in the "Calories" columns with the number 130:

data11 = pd.read_csv('data/data.csv')

data11.fillna({"Calories": 130}, inplace=True)

print(data11)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

- **Replace Using Mean, Median, or Mode:**

A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean(), median() and mode() methods to calculate the respective values for a specified column:

In [69]:
# Calculate the MEAN, and replace any empty values with it:

data12 = pd.read_csv('data/data.csv')

x = data12["Calories"].mean()

data12.fillna({"Calories": x}, inplace=True)

Mean = the average value (the sum of all values divided by number of values).

In [70]:
# Calculate the MEDIAN, and replace any empty values with it:

data13 = pd.read_csv('data/data.csv')

x = data13["Calories"].median()

data13.fillna({"Calories": x}, inplace=True)

Median = the value in the middle, after you have sorted all values ascending.

In [62]:
# Calculate the MODE, and replace any empty values with it:

data13 = pd.read_csv('data/data.csv')

# Calculate the mode (most frequent value) of the "Calories" column
# .mode() returns a Series; [0] selects the first mode in case there are multiple
x = data13["Calories"].mode()[0]

data13.fillna({"Calories": x}, inplace=True)

Mode = the value that appears most frequently.