In [ ]:

'''
print("amit")
print("learning")
print("python")
'''
print("machine learning")

# print("deep learning")
# print("data science")
# print("python")

machine learning

In [14]:
x = 4
x = 5
print(id(x))

140719673930792

In [16]:
print("my name {0} , my age is {1}".format("Mohamed", 25))
print("my name {} , my age is {}".format("Mohamed", 25))
print("my name {x} , my age is {y}".format(x = "Mohamed", y = 25))

my name Mohamed , my age is 25
my name Mohamed , my age is 25
my name Mohamed , my age is 25

In [17]:
age = 25
name = "Mohamed"
print(f"my name is {name} , my age is {age}")

my name is Mohamed , my age is 25

In [18]:
your_name = "Mohamed"
your_age = 25
course_name = "AI"
print(f"my name is {your_name} , and i am {your_age} years old , I am engaged in learning {course_name}")

my name is Mohamed , and i am 25 years old , I am engaged in learning AI

In [19]:
x = 5
print(type(x))

<class 'int'>

In [22]:
x = [1, 2, 3, 4, 5]
print(type(x))
y = (1, 2, 3, 4, 5)
print(type(y))
z = {1, 2, 3, 4, 5}
print(type(z))
d = {"key1": 1, "key2": 2}
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [24]:
name = "amit learning"
print(name[3])
print(name[0:4:2])

t
ai

In [31]:
name = "amit learning"
print(name.upper())
print(name.replace("amit", "hello"))

AMIT LEARNING
hello learning

In [32]:
info = ["I am", "learning", "AI", "diploma"]
sent = ' '.join(info)
print(sent)

I am learning AI diploma

In [1]:
import numpy as np

print(np.array([1, 2, 3]))

[1 2 3]

In [2]:
2**3
2 + 10 * 10 + 3
x = 2 + 4j
type(x)

complex

In [3]:
list_1 = "mohamed"
list(list_1)

['m', 'o', 'h', 'a', 'm', 'e', 'd']

In [5]:
list_one = [1, 2, 3, 4, "amit", "learning", True, [1, 2, 3, "True", ["ml", "dl", "ds"]]]
list_one[4] = "hello"
print(list_one)
print(list_one[7][4][1])

[1, 2, 3, 4, 'hello', 'learning', True, [1, 2, 3, 'True', ['ml', 'dl', 'ds']]]
dl

In [6]:
y = list("amit")
print(y)

['a', 'm', 'i', 't']

In [8]:
list_one = ["amit", "learning", "python"]
list_one.append("machine learning")
list_one.insert(0, "hello")
print(list_one)

['hello', 'amit', 'learning', 'python', 'machine learning']

In [9]:
list_1 = [1, 2, 3, 4, 5]
list_2 = [6, 7, 8, 9, 10]
list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
list_one = ["amit", "learning", "python"]
x = list_one.pop()
y = list_one.pop(0)
print(list_one)

['learning']

In [ ]:
list_one = ["amit", "learning", "python"]
del list_one[1]
print(list_one)

In [15]:
name = input("Enter your name: ")
id = input("Enter your ID: ")
print(name, id)

mohamed 5

In [16]:
input_list = ["amit", "learning", "python", "machine learning", "data science", "deep learning"]

print(input_list)

element_to_remove = input("Enter the element to remove: ")

input_list.remove(element_to_remove)
print(input_list)

['amit', 'learning', 'python', 'machine learning', 'data science', 'deep learning']
['learning', 'python', 'machine learning', 'data science', 'deep learning']

In [ ]:
my_list = [1, 2, 3, 4, 5]
index_one = my_list.index(3)
count = my_list.count(3)
my_list.sort()
my_list.reverse()
print(index_one)
my_list.clear()

2

In [ ]:
tuple_one = (1, 2, 3, 4, "amit", "learning", True, (1, 2, 3), "True", ("ml", "dl", "ds"))
tuple_one[7][1] = 22
print(tuple_one)

(1, 2, 3, 4, 'amit', 'learning', True, [1, 22, 3], 'True', ('ml', 'dl', 'ds'))

In [23]:
set_1 = {"amit", "learning", "python"}
print(set_1[0])

TypeError: 'set' object is not subscriptable

In [27]:
dictionary_one = {"key1": 12.5, "key2": "value2", "key3": "python", 4: [1, 2, 3, 4, 5]}
print(dictionary_one)
dictionary_one["key1"] = "amit learning"
print(dictionary_one)
dictionary_one[4][0] = 10
print(dictionary_one)

{'key1': 12.5, 'key2': 'value2', 'key3': 'python', 4: [1, 2, 3, 4, 5]}
{'key1': 'amit learning', 'key2': 'value2', 'key3': 'python', 4: [1, 2, 3, 4, 5]}
{'key1': 'amit learning', 'key2': 'value2', 'key3': 'python', 4: [10, 2, 3, 4, 5]}

In [28]:
key_vlaue_list = [("key1", 1), ("key2", 2), ("key3", 3)]
dictionary_from_list = dict(key_vlaue_list)
print(dictionary_from_list)

{'key1': 1, 'key2': 2, 'key3': 3}